<!DOCTYPE html>
<html lang="en">
<head>
<body>
<h1>Upload File</h1>
<form action="/upload" method="post" enctype="multipart/form-data">
    <label>Name : <input type="text" name="name"></label>
    <label>File : <input type="file" name="file"></label>
    <input type="submit" value="Upload">
</form>
</body>
</head>
</html>